body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, .text-code-like {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-cap-like {
  font-variant: small-caps;
}

.bolt-textfield-label {
  color: rgb(51, 51, 51);
  box-sizing: border-box;
  box-shadow: none;
  margin: 0px;
  display: block;
  padding: 5px 0px;
  overflow-wrap: break-word;
}

.bolt-formitem > .bolt-textfield-label {
  font-size: .875rem;
  margin-bottom: 8px;
  padding: 0;
}

.bolt-required > .bolt-textfield-label::after {
  content: " *";
  color: rgb(168, 0, 0);
  padding-right: 12px;
}

.bolt-formitem ~ .bolt-formitem {
  margin-top: 16px;
}

.bolt-textfield-input {
  font-size: 14px;
  font-family: inherit;
}

.summary-card-content .summary-line-non-link {
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}
