.text-cap-like {
  font-variant: small-caps;
}

.summary-card-content {
  display: flex;
  flex-direction: column;
}

.summary-card-content-item ~ .summary-card-content-item {
  margin-top: 12px;
}

@media (min-width: 700px) {

  .summary-card-content {
    flex-direction: row;
  }

  .summary-card-content-item ~ .summary-card-content-item {
    margin-top: 0;
  }
  
}

.summary-card-content .summary-line-non-link {
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.margin-left-12 {
  margin-left: 12px;
}

.margin-right-12 {
  margin-right: 12px;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.vss-ZeroData.vss-ZeroData-fullsize {
  margin-top: 0;
  margin-bottom: 35px;
}

.summary-line-non-link > div ~ div {
  margin-left: 12px;
}

#react-root {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.card-list > .bolt-card ~ .bolt-card {
  margin-top: 16px;
}
