@model IEnumerable<SetListModel>
@{
    ViewData["Title"] = "Plagiarism Set";
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<datatable data="Model" />

<pagination bs-current-page="ViewBag.Page" />

<p>
    <a class="btn btn-primary" asp-action="Create" data-toggle="ajaxWindow" data-target="create"><i class="fas fa-plus"></i> Create</a>
    <a class="btn btn-secondary" asp-action="Refresh" data-toggle="ajaxWindow" data-target="refresh"><i class="fas fa-sync"></i> Refresh</a>
</p>