@model Submission
@{
    ViewData["Title"] = $"Submission s{Model.Id}: {Model.Name}";
    string error = ViewBag.Error;
}

<h2 class="mt-2">Submission s@(Model.Id): <a asp-action="SourceCode">@Model.Name</a></h2>
@if (error == null)
{
<datatable data="ViewBag.Reports" />
}
else
{
<div class="alert alert-danger">Compilation failed. Frontend should be updated, or this submission cannot compile simply.</div>
<pre class="output_text">@error</pre>
}
