@using SatelliteSite.Models
@model IEnumerable<SubmissionListModel>
@{
    ViewData["Title"] = "List submissions";
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<datatable data="Model" />


<p>
    <a asp-controller="Submission" asp-action="Upload" class="btn btn-success" data-toggle="ajaxWindow" data-target="upload">Upload File</a>
</p>
<form asp-action="Delete" style="width:25em;">
    <div class="form-group">
        <label>The Submission ID You Want Delete:</label>
        <input class="form-control" name="sid" type="text" />
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-danger" asp-action="Delete">Random Delete</a>
</form>


<h1>ComPare</h1>
<form asp-action="Compare" style="width:25em;">
    <div class="form-group">
        <label>Submission 1 ID:</label>
        <input class="form-control" name="sub1" type="text" />
    </div>

    <div class="form-group">
        <label>Submission 2 ID:</label>
        <input class="form-control" name="sub2" type="text" />
    </div>
    <button type="submit" class="btn btn-success">Go</button>
</form>