@using SatelliteSite.Models
@model IEnumerable<SubmissionListModel>
@{
    ViewData["Title"] = "List submissions";
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<datatable data="Model" />

<p>
    <a class="btn btn-danger" asp-action="Delete">Delete</a>
</p>
