
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<h1>Upload File:</h1>
<form asp-action="Upload" asp-controller="Submission"
      enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
      method="post">
    <dl>
    <dt>
        <label for="FileUpload_FormFile">File</label>
    </dt>
    <dd>
        <input id="FileUpload_FormFile" type="file"name="FileUpload" />
    </dd>
    </dl>
    <input class="btn btn-success" type="submit" value="Upload" 
</form>

<pre>
@Model
</pre>
<a class="btn btn-danger" asp-action="Delete">Delete</a>

<script>
    async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                window.location.href = '/Submission/List';
            }

            resultElement.value = 'Result: ' + response.status + ' ' +
                response.statusText;
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>