@model string
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<pre>
@Model
</pre>

<a class="btn btn-secondary" asp-action="Create">Add</a>
<a class="btn btn-danger" asp-action="Delete">Delete</a>